body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1600px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u757 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:850px;
}
#u758 {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:850px;
}
#u759 {
  position:absolute;
  left:2px;
  top:417px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:171px;
}
#u760 {
  position:absolute;
  left:0px;
  top:680px;
  width:839px;
  height:170px;
}
#u761 {
  position:absolute;
  left:2px;
  top:77px;
  width:835px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1600px;
  height:167px;
}
#u762 {
  position:absolute;
  left:0px;
  top:754px;
  width:1600px;
  height:167px;
}
#u763 {
  position:absolute;
  left:2px;
  top:76px;
  width:1596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:62px;
}
#u764 {
  position:absolute;
  left:32px;
  top:683px;
  width:691px;
  height:61px;
}
#u765 {
  position:absolute;
  left:2px;
  top:22px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766 {
  position:absolute;
  left:218px;
  top:697px;
  width:185px;
  height:34px;
}
#u766_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u766_ann {
  position:absolute;
  left:396px;
  top:693px;
  width:1px;
  height:1px;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u767 {
  position:absolute;
  left:69px;
  top:704px;
  width:59px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u768 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u769 {
  position:absolute;
  left:159px;
  top:705px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u770 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u771 {
  position:absolute;
  left:413px;
  top:705px;
  width:73px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u773 {
  position:absolute;
  left:496px;
  top:697px;
  width:190px;
  height:34px;
}
#u773_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u773_ann {
  position:absolute;
  left:679px;
  top:693px;
  width:1px;
  height:1px;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u774 {
  position:absolute;
  left:696px;
  top:705px;
  width:15px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u775 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
