body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:861px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:861px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:422px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:871px;
  height:173px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:689px;
  width:870px;
  height:172px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:78px;
  width:866px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1660px;
  height:169px;
}
#u1242 {
  position:absolute;
  left:0px;
  top:764px;
  width:1660px;
  height:169px;
}
#u1243 {
  position:absolute;
  left:2px;
  top:76px;
  width:1656px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:692px;
  height:62px;
}
#u1244 {
  position:absolute;
  left:32px;
  top:683px;
  width:691px;
  height:61px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:22px;
  width:687px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246 {
  position:absolute;
  left:218px;
  top:697px;
  width:185px;
  height:34px;
}
#u1246_input {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1246_ann {
  position:absolute;
  left:396px;
  top:693px;
  width:1px;
  height:1px;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u1247 {
  position:absolute;
  left:69px;
  top:704px;
  width:59px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1248 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:20px;
}
#u1249 {
  position:absolute;
  left:159px;
  top:705px;
  width:44px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
}
#u1251 {
  position:absolute;
  left:413px;
  top:705px;
  width:73px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1252 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1253 {
  position:absolute;
  left:496px;
  top:697px;
  width:190px;
  height:34px;
}
#u1253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1253_ann {
  position:absolute;
  left:679px;
  top:693px;
  width:1px;
  height:1px;
}
#u1254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u1254 {
  position:absolute;
  left:696px;
  top:705px;
  width:15px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
