body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1662px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2309_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1662px;
  height:930px;
}
#u2309 {
  position:absolute;
  left:0px;
  top:0px;
  width:1662px;
  height:930px;
}
#u2310 {
  position:absolute;
  left:2px;
  top:457px;
  width:1658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2311 {
  position:absolute;
  left:1447px;
  top:105px;
  width:83px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2311_ann {
  position:absolute;
  left:1523px;
  top:101px;
  width:1px;
  height:1px;
}
#u2312 {
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:931px;
  overflow:hidden;
  visibility:hidden;
}
#u2312_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:931px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2312_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1663px;
  height:933px;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:1662px;
  height:932px;
}
#u2314 {
  position:absolute;
  left:2px;
  top:458px;
  width:1658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1612px;
  height:855px;
}
#u2315 {
  position:absolute;
  left:0px;
  top:0px;
  width:1612px;
  height:855px;
}
#u2316 {
  position:absolute;
  left:2px;
  top:420px;
  width:1608px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:62px;
}
#u2317 {
  position:absolute;
  left:155px;
  top:537px;
  width:638px;
  height:61px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:22px;
  width:634px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:42px;
}
#u2319 {
  position:absolute;
  left:161px;
  top:546px;
  width:624px;
  height:41px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:12px;
  width:620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_ann {
  position:absolute;
  left:778px;
  top:542px;
  width:1px;
  height:1px;
}
#u2321 {
  position:absolute;
  left:171px;
  top:559px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u2322 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2321_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2323 {
  position:absolute;
  left:244px;
  top:559px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u2324 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2323_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2325 {
  position:absolute;
  left:317px;
  top:559px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u2326 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2325_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2327 {
  position:absolute;
  left:389px;
  top:559px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u2328 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2327_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2329 {
  position:absolute;
  left:462px;
  top:559px;
  width:63px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:409;
  font-style:normal;
}
#u2330 {
  position:absolute;
  left:16px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2329_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2331 {
  position:absolute;
  left:206px;
  top:24px;
  width:75px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2332 {
  position:absolute;
  left:1621px;
  top:209px;
  width:25px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2332_ann {
  position:absolute;
  left:1639px;
  top:205px;
  width:1px;
  height:1px;
}
