body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-7px;
  width:964px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u0 {
  position:absolute;
  left:21px;
  top:15px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:964px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(230, 230, 230, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2 {
  position:absolute;
  left:7px;
  top:57px;
  width:964px;
  height:140px;
}
#u3 {
  position:absolute;
  left:2px;
  top:62px;
  width:960px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4 {
  position:absolute;
  left:21px;
  top:118px;
  width:155px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:38px;
}
#u6 {
  position:absolute;
  left:215px;
  top:109px;
  width:73px;
  height:38px;
  font-size:14px;
}
#u7 {
  position:absolute;
  left:2px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u8 {
  position:absolute;
  left:308px;
  top:119px;
  width:59px;
  height:18px;
  color:#339933;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#339933;
}
#u10 {
  position:absolute;
  left:388px;
  top:119px;
  width:59px;
  height:18px;
  color:#339933;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:1px;
  top:0px;
  width:980px;
  height:1002px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1002px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1003px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:1003px;
}
#u14 {
  position:absolute;
  left:2px;
  top:494px;
  width:976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:999px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:976px;
  height:999px;
}
