body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:779px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:779px;
}
#u130 {
  position:absolute;
  left:2px;
  top:382px;
  width:1597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:1432px;
  top:95px;
  width:134px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u132 {
  position:absolute;
  left:1482px;
  top:173px;
  width:97px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u134 {
  position:absolute;
  left:1482px;
  top:240px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u136 {
  position:absolute;
  left:1482px;
  top:323px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u138 {
  position:absolute;
  left:1482px;
  top:404px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u140 {
  position:absolute;
  left:1482px;
  top:484px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u142 {
  position:absolute;
  left:1482px;
  top:561px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u144 {
  position:absolute;
  left:1482px;
  top:644px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u146 {
  position:absolute;
  left:1482px;
  top:723px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u147 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
