body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1601px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:779px;
}
#u122 {
  position:absolute;
  left:0px;
  top:0px;
  width:1601px;
  height:779px;
}
#u123 {
  position:absolute;
  left:2px;
  top:382px;
  width:1597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124 {
  position:absolute;
  left:1432px;
  top:95px;
  width:134px;
  height:45px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u125 {
  position:absolute;
  left:1482px;
  top:173px;
  width:97px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u127 {
  position:absolute;
  left:1482px;
  top:240px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u129 {
  position:absolute;
  left:1482px;
  top:323px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u131 {
  position:absolute;
  left:1482px;
  top:404px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u132 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u133 {
  position:absolute;
  left:1482px;
  top:484px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u135 {
  position:absolute;
  left:1482px;
  top:561px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u136 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u137 {
  position:absolute;
  left:1482px;
  top:644px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:23px;
}
#u139 {
  position:absolute;
  left:1482px;
  top:723px;
  width:46px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u140 {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  white-space:nowrap;
}
