body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2627px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:1670px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:199px;
  top:50px;
  width:1101px;
  height:1670px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:827px;
  width:1097px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1614px;
  height:2px;
}
#u1978 {
  position:absolute;
  left:-608px;
  top:913px;
  width:1613px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1979 {
  position:absolute;
  left:808px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
  background:inherit;
  background-color:rgba(52, 56, 68, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 2px 2px rgba(0, 0, 0, 0.349019607843137);
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:50px;
}
#u1981 {
  position:absolute;
  left:2px;
  top:17px;
  width:1296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:40px;
}
#u1982 {
  position:absolute;
  left:20px;
  top:5px;
  width:149px;
  height:40px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:12px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1984 {
  position:absolute;
  left:242px;
  top:14px;
  width:30px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u1986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1986 {
  position:absolute;
  left:319px;
  top:14px;
  width:54px;
  height:19px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1987 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1988 {
  position:absolute;
  left:419px;
  top:14px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:center;
}
#u1989 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1990 {
  position:absolute;
  left:298px;
  top:16px;
  width:1px;
  height:19px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1992 {
  position:absolute;
  left:397px;
  top:17px;
  width:1px;
  height:19px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:25px;
}
#u1994 {
  position:absolute;
  left:533px;
  top:12px;
  width:27px;
  height:25px;
}
#u1995 {
  position:absolute;
  left:2px;
  top:4px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:20px;
}
#u1996 {
  position:absolute;
  left:495px;
  top:16px;
  width:1px;
  height:19px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:2px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u1998 {
  position:absolute;
  left:189px;
  top:60px;
  width:19px;
  height:1px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1999 {
  position:absolute;
  left:11px;
  top:-8px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-1.5px 8.5px;
  -ms-transform-origin:-1.5px 8.5px;
  -moz-transform-origin:-1.5px 8.5px;
  -webkit-transform-origin:-1.5px 8.5px;
}
#u2000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:1031px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:51px;
  width:200px;
  height:1030px;
}
#u2001 {
  position:absolute;
  left:2px;
  top:500px;
  width:196px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 211, 223, 1);
  border-right:0px;
  border-radius:2px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2002 {
  position:absolute;
  left:183px;
  top:71px;
  width:16px;
  height:36px;
}
#u2003 {
  position:absolute;
  left:2px;
  top:10px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:11px;
}
#u2004 {
  position:absolute;
  left:187px;
  top:84px;
  width:11px;
  height:11px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2005 {
  position:absolute;
  left:2px;
  top:-2px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2006 {
  position:absolute;
  left:223px;
  top:78px;
  width:66px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2007 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 213, 224, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  position:absolute;
  left:340px;
  top:113px;
  width:108px;
  height:48px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:16px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2010 {
  position:absolute;
  left:361px;
  top:127px;
  width:65px;
  height:22px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 213, 224, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2012 {
  position:absolute;
  left:228px;
  top:114px;
  width:108px;
  height:48px;
}
#u2013 {
  position:absolute;
  left:2px;
  top:16px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2014 {
  position:absolute;
  left:250px;
  top:127px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:2px;
}
#u2016 {
  position:absolute;
  left:198px;
  top:158px;
  width:142px;
  height:1px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:-8px;
  width:138px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:48px;
  background:inherit;
  background-color:rgba(244, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 213, 224, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2018 {
  position:absolute;
  left:453px;
  top:114px;
  width:108px;
  height:48px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:16px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2020 {
  position:absolute;
  left:474px;
  top:127px;
  width:65px;
  height:19px;
  font-size:16px;
  color:#666666;
  text-align:center;
}
#u2021 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:853px;
  height:2px;
}
#u2022 {
  position:absolute;
  left:448px;
  top:159px;
  width:852px;
  height:1px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:-8px;
  width:848px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u2024 {
  position:absolute;
  left:1347px;
  top:50px;
  width:626px;
  height:358px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:171px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u2026 {
  position:absolute;
  left:1362px;
  top:68px;
  width:600px;
  height:313px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:148px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2028 {
  position:absolute;
  left:1382px;
  top:84px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:2px;
}
#u2030 {
  position:absolute;
  left:1362px;
  top:123px;
  width:598px;
  height:1px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2033 {
  position:absolute;
  left:1674px;
  top:315px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2034 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2035 {
  position:absolute;
  left:1560px;
  top:315px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2036 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2037 {
  position:absolute;
  left:1477px;
  top:174px;
  width:73px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2039 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2040 {
  position:absolute;
  left:1573px;
  top:162px;
  width:260px;
  height:40px;
  color:#666666;
}
#u2041 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2042 {
  position:absolute;
  left:1790px;
  top:173px;
  width:29px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:289px;
}
#u2044 {
  position:absolute;
  left:2003px;
  top:418px;
  width:626px;
  height:289px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:136px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u2046 {
  position:absolute;
  left:2018px;
  top:436px;
  width:600px;
  height:254px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:119px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2048 {
  position:absolute;
  left:2038px;
  top:452px;
  width:81px;
  height:19px;
  font-size:16px;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:2px;
}
#u2050 {
  position:absolute;
  left:2018px;
  top:491px;
  width:598px;
  height:1px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2053 {
  position:absolute;
  left:2330px;
  top:609px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2054 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2055 {
  position:absolute;
  left:2216px;
  top:609px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2056 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2057 {
  position:absolute;
  left:2148px;
  top:542px;
  width:361px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2058 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u2059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2059 {
  position:absolute;
  left:1435px;
  top:232px;
  width:115px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u2061 {
  position:absolute;
  left:1569px;
  top:218px;
  width:101px;
  height:45px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:5px;
}
#u2063 {
  position:absolute;
  left:199px;
  top:159px;
  width:1098px;
  height:5px;
}
#u2064 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1094px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:626px;
  height:358px;
}
#u2065 {
  position:absolute;
  left:1349px;
  top:418px;
  width:626px;
  height:358px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:171px;
  width:622px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:313px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:4px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.0980392156862745);
}
#u2067 {
  position:absolute;
  left:1364px;
  top:436px;
  width:600px;
  height:313px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:148px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2069 {
  position:absolute;
  left:1384px;
  top:452px;
  width:113px;
  height:19px;
  font-size:16px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:2px;
}
#u2071 {
  position:absolute;
  left:1364px;
  top:491px;
  width:598px;
  height:1px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:594px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2074 {
  position:absolute;
  left:1676px;
  top:683px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2075 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2076 {
  position:absolute;
  left:1562px;
  top:683px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2077 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2078 {
  position:absolute;
  left:1479px;
  top:542px;
  width:73px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2081 {
  position:absolute;
  left:1575px;
  top:530px;
  width:260px;
  height:40px;
  color:#666666;
}
#u2082 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2083 {
  position:absolute;
  left:1792px;
  top:541px;
  width:29px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2084 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2085 {
  position:absolute;
  left:1437px;
  top:600px;
  width:115px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:45px;
}
#u2087 {
  position:absolute;
  left:1571px;
  top:586px;
  width:101px;
  height:45px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:14px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:2px;
}
#u2089 {
  position:absolute;
  left:21px;
  top:114px;
  width:149px;
  height:1px;
}
#u2090 {
  position:absolute;
  left:2px;
  top:-8px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2091 {
  position:absolute;
  left:46px;
  top:70px;
  width:95px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:22px;
}
#u2092 {
  position:absolute;
  left:2px;
  top:2px;
  width:91px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:38px;
  background:inherit;
  background-color:rgba(211, 223, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2093 {
  position:absolute;
  left:-2px;
  top:130px;
  width:199px;
  height:38px;
}
#u2094 {
  position:absolute;
  left:2px;
  top:11px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2095 {
  position:absolute;
  left:44px;
  top:138px;
  width:66px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
}
#u2096 {
  position:absolute;
  left:2px;
  top:2px;
  width:62px;
  white-space:nowrap;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2098 {
  position:absolute;
  left:439px;
  top:379px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2099 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u2100 {
  position:absolute;
  left:325px;
  top:379px;
  width:90px;
  height:40px;
  color:#000000;
}
#u2101 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2102 {
  position:absolute;
  left:228px;
  top:198px;
  width:73px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2104 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2105 {
  position:absolute;
  left:324px;
  top:186px;
  width:260px;
  height:40px;
  color:#666666;
}
#u2106 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2107 {
  position:absolute;
  left:541px;
  top:197px;
  width:29px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2108 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2109 {
  position:absolute;
  left:340px;
  top:197px;
  width:59px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2111 {
  position:absolute;
  left:242px;
  top:258px;
  width:59px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2114 {
  position:absolute;
  left:324px;
  top:246px;
  width:260px;
  height:40px;
  color:#666666;
}
#u2115 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2116 {
  position:absolute;
  left:541px;
  top:257px;
  width:29px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2118 {
  position:absolute;
  left:340px;
  top:257px;
  width:44px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2120 {
  position:absolute;
  left:696px;
  top:255px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2121 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2122 {
  position:absolute;
  left:696px;
  top:195px;
  width:81px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u2124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2124 {
  position:absolute;
  left:243px;
  top:314px;
  width:59px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:right;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u2126 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u2127 {
  position:absolute;
  left:325px;
  top:302px;
  width:260px;
  height:40px;
  color:#666666;
}
#u2128 {
  position:absolute;
  left:2px;
  top:12px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2129 {
  position:absolute;
  left:542px;
  top:313px;
  width:29px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2130 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2131 {
  position:absolute;
  left:341px;
  top:313px;
  width:44px;
  height:18px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u2132 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u2133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u2133 {
  position:absolute;
  left:594px;
  top:246px;
  width:90px;
  height:36px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2135 {
  position:absolute;
  left:697px;
  top:311px;
  width:117px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0000FF;
}
#u2136 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  word-wrap:break-word;
}
#u2137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u2137 {
  position:absolute;
  left:595px;
  top:302px;
  width:90px;
  height:36px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u2139 {
  position:absolute;
  left:595px;
  top:186px;
  width:90px;
  height:36px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
